body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 92px auto 64px;
  grid-template-areas: "h h h h h h h h h h h h " "m m m m m m m m m m m m" "f f f f f f f f f f f f"
}

.medium-card-music-slider-time {
  position: absolute;
  font-size: 14px;
  color: #000000;
  text-align: right;
  font-family: Arial-BoldMT;
}

.medium-card-music-controlls {
  padding-top: 20px;
}

.prev-icon {
  background-image: url(assets2/Prev.svg);
  width: 53px;
  height: 52px;
  position: absolute;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
}

.next-icon {
  transform: rotate(180deg);
  background-image: url(assets2/Prev.svg);
  width: 53px;
  height: 52px;
  position: absolute;
  text-decoration: none;
  padding-left: 150px;
  background-repeat: no-repeat;
  background-position: center;
}

.medium-card-music-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 20px;
  border-radius: 4.5px;
  background: #D8D8D8;
  cursor: pointer;
}

.medium-card-music-slider::-moz-range-thumb {
  width: 12px;
  height: 20px;
  border-radius: 4.5px;
  background: #D8D8D8;
  cursor: pointer;
}

.medium-card-volume-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: rgba(216, 216, 216, 0.30);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.medium-card-volume-slider-container {
  padding: 15px 30px 24px 150px;
}

.medium-card-music-slider {
  -webkit-appearance: none;
  width: 89%;
  height: 2px;
  border-radius: 4.5px;
  background: rgba(216, 216, 216, 0.30);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  padding-right: 16px;
  position: relative;
}

.medium-card-volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #605757;
  cursor: pointer;
}

.medium-card-volume-slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #605757;
  cursor: pointer;
}

.medium-card-music-cover {
  background-image: url(assets2/album-cover.png);
  width: 53px;
  height: 52px;
  position: absolute;
}

.medium-card-music-now-playing {
  font-family: ArialMT;
  font-size: 18px;
  color: #333333;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 25px;
}

.medium-card-music-information {}

.medium-card-music-title-container {
  padding-left: 80px;
  padding-right: 50px
}

.medium-card-music-title {
  padding-bottom: 13px;
  font-family: Arial-BoldMT;
  font-size: 20px
}

.medium-card-music-buttons {}

.events-heading {
  font-family: Arial-BoldMT;
  font-size: 36px;
  color: #333333;
  text-align: left;
  grid-column: 3/auto;
  padding: 30px 0 30px 0;
}

.menu-container {
  grid-area: m;
  grid-column: 2/12;
}

.menu-container-grid {
  display: grid;
  /* grid-auto-columns: 171px; */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-auto-flow: dense;
  grid-row-gap: 13px;
  grid-column-gap: 39px;
}

.large-card {
  grid-column: span 5;
  grid-row: span 3;
  background: #FAFAFA;
  border-radius: 20px;
}

.small-card {
  grid-column: span 3;
  background: #FAFAFA;
  /* background: #e20707; */
  border-radius: 20px;
  width: 398px;
  height: 171px;
}

.small-card:hover {
  background-color: #F3F3F3;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.50);
}

.small-card-title-container {
  position: relative;
  padding: 15px 0px 30px 75px;
}

.small-card-title {
  font-family: Arial-BoldMT;
  font-size: 24px;
  color: #333333;
  text-align: left;
}

.small-card-details {
  font-family: ArialMT;
  font-size: 18px;
  color: #333333;
  text-align: left;
  padding-bottom: 20px;
}

.small-card-cell-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.small-card-cell-date {
  text-align: left;
  padding: 0;
  margin: 0;
  margin-right: 17px;
  font-family: ArialMT;
  font-size: 18px;
  color: #333333;
  text-align: right;
  white-space: nowrap;
  padding-right: 200px;
}

.small-card-cell-arrow button {
  margin: 0;
  text-align: right;
  background-image: url(assets2/Next.svg);
  height: 16px;
  width: 10px;
}

.small-card-information {
  padding: 20px 25px 28px 27px;
}

.medium-card {
  grid-column: span 4;
  grid-row: span 2;
  background: #FAFAFA;
  /* background: #e20707; */
  border-radius: 20px;
  width: 543px;
  height: auto;
}

.medium-card:hover {
  background-color: #F3F3F3;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.50);
}

.medium-card-information {
  padding: 20px 25px 28px 27px;
}

.medium-card-title-container {
  position: relative;
  padding: 15px 0px 30px 75px;
}

.medium-card-title {
  font-family: Arial-BoldMT;
  font-size: 24px;
  color: #333333;
  text-align: left;
}

.medium-card-details {
  font-family: ArialMT;
  font-size: 18px;
  color: #333333;
  text-align: left;
  padding-bottom: 40px;
  padding-top: 25px;
}

.medium-card-buttons-container {
  padding: 0 0 23px 0;
}

.medium-card-buttons-yes:hover, .medium-card-buttons-no:hover, .medium-card-buttons-yes:active, .--selected {
  background-color: #ffd93e;
}

a {
  text-decoration: none;
}

.medium-card-buttons-yes {
  padding: 15px 53px 16px 53px;
  font-size: 20px;
  line-height: 15px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  background: #FFD93E;
  border-radius: 8px;
  margin-right: 100px;
}

.medium-card-buttons-no {
  padding: 15px 53px 16px 53px;
  font-size: 20px;
  line-height: 15px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  background: #E5E5E5;
  border-radius: 8px;
}

.medium-card-buttons-list {
  display: flex;
  list-style: none;
  padding: 6px;
  margin: 0;
}

.medium-card-cell-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.medium-card-cell-temperature {
  text-align: left;
  padding: 0;
  margin: 0;
  margin-right: 17px;
  font-family: ArialMT;
  font-size: 18px;
  color: #333333;
  text-align: right;
  white-space: nowrap;
  padding-right: 200px;
}

.medium-card-cell-sensors {
  text-align: left;
  padding: 0;
  margin: 0;
  margin-right: 17px;
  font-family: ArialMT;
  font-size: 18px;
  color: #333333;
  text-align: right;
  white-space: nowrap;
  padding-right: 200px;
}

.medium-card-critical-sensors {
  text-align: left;
  padding: 0;
  margin: 0;
  margin-right: 17px;
  font-family: ArialMT;
  font-size: 18px;
  color: #FFFFFF;
  text-align: right;
  white-space: nowrap;
  padding-right: 200px;
}

.medium-card-cell-date {
  margin: 0;
  text-align: right;
  color: #333333;
  white-space: nowrap;
  font-family: ArialMT;
}

.medium-card-critical-cell-date {
  margin: 0;
  text-align: right;
  color: #FFFFFF;
  white-space: nowrap;
  font-family: ArialMT;
}

.medium-card-cell-humidity {
  margin: 0;
  text-align: right;
  color: #333333;
  white-space: nowrap;
  font-family: ArialMT;
}

.large-card-heading {
  font-family: Arial-BoldMT;
  font-size: 24px;
  color: #333333;
  text-align: left;
}

.large-card-scrollbar {
  width: 50%;
  position: absolute;
  height: 3px;
  border-radius: 5px;
  bottom: 1px;
  background-color: #fff;
  z-index: 5;
}

.large-card-information {
  padding: 15px 20px 31px 40px;
}

.large-card-graph {
  background-image: url(assets2/Richdata@3x.png);
  max-width: 636px;
  height: 316px;
  background-size: cover;
  border-radius: 20px;
}

.large-card-image {
  width: 100%;
  height: 424px;
  background-size: cover;
  border-radius: 20px;
  background-position-x: 0;
  background-position-y: 0;
  touch-action:none;
}
.large-card-container {
  padding: 20px 20px 20px 30px;

}

.card-image-container {
  touch-action: none;
  overflow: hidden;
  position: relative;
}

.large-card-details {
  font-family: ArialMT;
  font-size: 24px;
  color: #333333;
  text-align: left;
  padding: 20px 29px 31px 0;
}

.stats-icon {
  background-image: url(assets2/line-chart.svg);
  height: 52px;
  width: 52px;
  background-repeat: no-repeat;
  background-position: center;
}

.ac-icon {
  background-image: url(assets2/air-conditioner.svg);
  height: 52px;
  width: 52px;
  background-repeat: no-repeat;
  background-position: center;
}

.card-white-block {
  margin: -1px;
  padding: 20px;
  border-radius: 20px;
  color: #333333;
  background: #fafafa;
}

.card-hovered-icon {
  position: absolute;
  right: 20px;
  display: none;
  cursor: pointer;
}

.card-hovered-icon-close {
  top: 20px;
}

.large-card-critical .large-card-next-icon {
  box-shadow: inset 0 0px 100px 0 #fafafa;
  border-radius: 5px;
}

.card-title-line {
  margin-bottom: 14px;
  display: grid;
  align-items: center;
  grid-template-columns: 52px 1fr;
  grid-gap: 16px;
  font-size: 24px;
  font-weight: bold;
}

.key-icon {
  background-image: url(assets2/key.svg);
  height: 52px;
  width: 52px;
  background-repeat: no-repeat;
  background-position: center;
}

.robot-cleaner-icon {
  background-image: url(assets2/robot-cleaner.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 52px;
  width: 52px;
}

.router-icon {
  background-image: url(assets2/router.svg);
  height: 52px;
  width: 52px;
  background-repeat: no-repeat;
  background-position: center;
}

.thermal-icon {
  background-image: url(assets2/temperature.svg);
  height: 52px;
  width: 52px;
  background-repeat: no-repeat;
  background-position: center;
}

.music-icon {
  background-image: url(assets2/Icon.png);
  height: 52px;
  width: 52px;
  background-repeat: no-repeat;
  background-position: center;
}

.fridge-icon {
  background-image: url(assets2/fridge.svg);
  height: 52px;
  width: 52px;
  background-repeat: no-repeat;
  background-position: center;
}

.battery-icon {
  background-image: url(assets2/battery.svg);
  height: 52px;
  width: 52px;
  background-repeat: no-repeat;
  background-position: center;
}

.cam-icon {
  background-image: url(assets2/cam-white.svg);
  height: 36px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.kettle-icon {
  background-image: url(assets2/kettle.svg);
  height: 52px;
  width: 52px;
  background-repeat: no-repeat;
  background-position: center;
}

.cleaner-stuck {
  background-image: url(assets2/image.jpg);
  max-width: auto;
  height: 300px;
}

.card-small-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #333333;
}
.card-small-list-critical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.card-small-text-date {
  padding-left: 300px;
  margin: 0;
  margin-right: 17px;
  font-family: ArialMT;
  font-size: 18px;
  text-align: right;
  white-space: nowrap;
}

.card-small-text-sensors {
  margin: 0;
  margin-right: 17px;
  font-family: ArialMT;
  font-size: 18px;
  text-align: right;
  white-space: nowrap;
}

[touch-action="none"] {
  -ms-touch-action: none;
  touch-action: none;
}

.header {
  overflow: hidden;
  grid-area: h;
  height: 92px;
  border-bottom: 1px solid #F0F0F0;
}

.header img {
  float: left;
  padding: 25px 52px 33px 40px;
}

.header a {
  float: left;
  display: block;
  color: gray;
  text-align: left;
  padding: 40px 28px;
  text-decoration: none;
  font-size: 16px;
  border-color: #F0F0F0;
}

.header a:hover {
  color: black;
}

.header-icon {
  display: none;
  background-image: url(assets2/icon_list_m@1x.svg);
}

.header-icon-container {
  display: none;
}

.header .active {
  color: black;
}

.large-card-onlitouch-line {
  justify-content: space-between;
  font-size: 12px;
  color: #333333;
  margin-top: 16px;
}

.footer {
  grid-area: f;
  max-height: 61px;
  max-width: 100%;
  padding: 25px 0 40px 40px;
}

.card-picture-line-zoom {
  pointer-events: none;
  transform: scale(2);
  transform-origin: left top;
}

.card-picture-line {
  width: 100%;
}

.item a {
  float: left;
  font-size: 12px;
  color: #858585;
  letter-spacing: 0.01px;
  display: block;
  text-align: left;
  text-decoration: none;
  padding-right: 28px;
}

.footer a:hover {
  color: black;
}

.critical-card-container {
  background: #db5341;
  border-radius: 20px;
  color: white;
  padding: 0;
}

.card-critical-block {
  padding: 20px 20px 3px;
}

.critical-card-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .header a:not(:first-child) {
    display: none;
  }
  .medium-card-cell-container {
    padding-bottom: 20px;
  }
  .menu-container {
    grid-area: m;
    grid-column: 2/12;
  }
  .header-icon {
    float: right;
    display: block;
    max-width: 16px;
    height: 14px;
  }
  .medium-card-buttons-yes {
    padding: 11px 45px 11px 45px;
    margin-right: 15px;
  }
  .medium-card-buttons-no {
    padding: 11px 45px 11px 45px;
  }
  .key-icon {
    background-image: url(assets2/smart-home.svg);
    height: 35px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .medium-card-critical {
    background: #DB5341;
    border-radius: 20px 20px 0 0;
    z-index: 20px;
  }
  .medium-card-title-container {
    padding-bottom: 15px;
  }
  .medium-card-title {
    font-size: 14px;
  }
  .medium-card-critical-title {
    font-size: 14px;
    color: #FFFFFF;
  }
  .medium-card-details {
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .medium-card-cell-sensors {
    padding-right: 25px;
    font-size: 12px;
  }
  .medium-card-cell-date {
    font-size: 12px;
  }
  .medium-card-critical-sensors {
    padding-right: 100px;
    font-size: 12px;
    color: #FFFFFF;
  }
  .medium-card-critical-cell-date {
    font-size: 12px;
    color: #FFFFFF;
    ;
  }
  .medium-card-cell-temperature {
    font-size: 14px;
    padding-right: 25px;
  }
  .medium-card-cell-humidity {
    font-size: 14px;
  }
  .robot-cleaner-icon {
    background-image: url(assets2/007-google-home.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 36px;
  }
  .router-icon {
    background-image: url(assets2/009-wifi.svg);
    height: 34px;
    width: 31px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .thermal-icon {
    background-image: url(assets2/thermal.svg);
    height: 52px;
    width: 52px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .music-icon {
    background-image: url(assets2/music.svg);
    height: 36px;
    width: 36px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .fridge-icon {
    background-image: url(assets2/006-fridge.svg);
    height: 36px;
    width: 36px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .battery-icon {
    background-image: url(assets2/010-battery.svg);
    height: 36px;
    width: 36px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .cam-icon {
    background-image: url(assets2/002-cctv.svg);
    height: 26px;
    width: 35px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .kettle-icon {
    background-image: url(assets2/hot-kettle.svg);
    height: 30px;
    width: 35px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .stats-icon {
    background-image: url(assets2/stats.svg);
    width: 52px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .menu-container-grid {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-row-gap: 16px;
  }
  .events-heading {
    font-size: 24px;
  }
  .small-card-title {
    font-size: 14px;
    padding-top: 10px;
    white-space: nowrap;
  }
  .small-card-details {
    font-size: 12px;
    padding-bottom: 10px;
  }
  .small-card-cell-date {
    font-size: 12px;
    padding-right: 100px;
  }
  .header a.header-icon {
    background-image: url(assets/icon_list_m@1x.svg);
    float: right;
    display: block;
  }
  .header-icon-container {
    display: block;
  }
  .large-card-graph {
    width: 100%;
    height: 144px;
  }
  .large-card-image {
    height: 247px;
  }
  .header img {
    padding: 30px 52px 33px 20px;
  }
  .header {
    width: 100%;
  }
  .large-card {
    grid-column: span 5;
    width: auto;
  }
  .large-card-onlitouch-line {
    justify-content: space-between;
    font-size: 12px;
    color: #333333;
    margin-top: 16px;
  }
  .small-card {
    height: auto;
    width: auto;
    grid-column: span 5;
  }
  .small-card-title-container {
    padding: 0 0 15px 50px;
  }
  .medium-card {
    width: auto;
    height: auto;
    grid-column: span 5;
  }
  .medium-card:hover {
    display: none;
  }
  .small-card:hover {
    display: none;
  }
  .large-card-details {
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 20px;
  }
  .large-card-heading {
    font-size: 14px;
  }
  .card-small-text-sensors {
    font-size: 12px;
  }
  .card-small-text-date {
    font-size: 12px;
    padding-left: 60px;
  }
  .card-small-list {
    padding-top: 10px;
    padding: 10px 0 20px 0;
  }
  .header.responsive {
    position: relative;
  }
  .header.responsive .icon {
    right: 0;
    top: 0;
  }
  .header.responsive a {
    float: none;
    display: block;
  }
  .medium-card-music-title {
    font-size: 18px;
  }
}
