.Footer {
grid-area: f;
display: flex;
align-items: center;
justify-content: space-between;
flex: 0 0 auto;
width: 100%;
height: 60px;
margin: 0 auto;
padding: 0 40px;
}

.Navigation-Item_size_small {
font-size: 12px;
font-weight: 400;
margin-right: 10px;
margin-left: 10px;
color: #858585;
letter-spacing: 0.01px;
text-decoration: none;
}
